*.apk
*.ap_
*.class
*.dex
bin/
gen/
*.iml
/local.properties
.idea/
/.idea/workspace.xml
/.idea/libraries
.idea/vcs.xml
.idea/misc.xml
.idea/inspectionProfiles/
.DS_Store
/captures
.externalNativeBuild
build.gradle
app.build.grandle
.gradle/
build/
